*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

     /* font-family: 'Pacifico', cursive; */
    font-family: 'Mynerve', cursive;  
}


.main{
    width: 100%;
    height: auto;
    background: #FFE8E1;

    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;  
}


.main .todo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
    width: 50%;
    height: auto;
    margin: 100px;
    border: 1px solid #000;
    padding: 50px;

}
.main .todo h2{
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
}


.main .todo .add{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    background: #EFAAC4;
    padding:  35px 20px;
    border-radius: 5px;
}


.main .todo .add input[type=text]{
    width: 95%;
    font-size: 20px;
    background: #EFAAC4;
    padding: 5px 10px;
    border: #6B717E .5px solid;
    font-family: 'Mynerve', cursive;
    text-align: center;  

     
}

.main .todo .add .add-btn{
    width: 95%;
    /* height: 32px; */
    font-size: 25px;
    padding: 8px 0px;
    background: #c4d1ff;
    color:#000;
    font-family: 'Mynerve', cursive;
    border: none;
    border-radius: 3px;
    box-shadow: inset 3px 3px 6px #7b7a7a, 6px 6px 6px #000;
    cursor: pointer;
}


.main .todo .todo-container{
    width: 100%;
    height: auto;
    
    background: #6B717E;
    margin-top: 20px;
    padding: 20px 30px;
    list-style: none;
}

.main .todo .todo-container li{
    display: flex;
    padding: 15px 20px;
    margin-bottom: 20px;
    background:#D4DCCD;
    border-radius: 10px;

}


.main .todo .todo-container li input[type=checkbox]{
    margin-right: 20px;
}

.main .todo .todo-container li p{
    font-size: 22px;
    
}

.main .todo .todo-container li input[type=checkbox]:checked+p{
    text-decoration: line-through;
}

@media only screen and (max-width: 600px ){

    .main .todo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        
        width: 90%;
        height: auto;
        margin: 100px;
        border: 1px solid #000;
        padding: 50px;
    
    }

    .main .todo .todo-container li p{
        font-size: 22px;
        inline-size: 150px;
        overflow-wrap: break-word;
    }


}













